
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <nav th:fragment="admin-header" class="navbar">
    <a class="nav-item" href="/admin/organization">제단체 관리</a>
    <a class="nav-item" href="/admin/openProgram">프로그램 개설</a>
    <a class="nav-item" href="/admin/writeNews">하품소식 작성</a>
    <a class="nav-item" href="/admin/programs">프로그램현황 보기</a>
    <a class="nav-item" href="/admin/currentRental">대관신청현황</a>
    <a class="nav-item" href="/admin/fixedRental">고정대관</a>
    <a class="nav-item" href="/admin/allUser">회원내역</a>
    <style>
		.navbar {
	      justify-content: center;
	    }
	</style>
  </nav>
</html>