<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대관 신청 현황</title>
  
  <!-- flatpickr CSS -->
  

	<link rel="stylesheet" th:href="@{/css/admin/header.css}">
  
</head>

<body>

  <!-- Header 항상 위 -->
  <div class="program-header" th:replace="~{admin/admin-header :: admin-header}"></div>

<h1>대관 신청 현황</h1>

</body>
</html>
