<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자 페이지</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/admin/header.css}">
</head>

<body>
	   
	    <h1>Welcome Admin Page</h1>
	    <div th:replace="~{admin/admin-header :: admin-header}"></div>
</body>
</html>
