<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>제단체 관리</title>
	<link rel="stylesheet" th:href="@{/css/admin/header.css}">
	<link rel="stylesheet" th:href="@{/css/admin/organization.css}">
</head>

<body>

	<!-- 헤더 -->
	<div th:replace="~{admin/admin-header :: admin-header}"></div>
	<div class="wrapper">
		<h1>제단체 관리</h1>
		<div class="top-actions">
			<a href="/admin/organization/add" class="add-org-button">제단체 추가</a>
			<a href="/admin/organization/write" class="add-org-button">글쓰기</a>
		</div>

		<!-- 활성 단체 -->
		<div class="section">
			<div class="title">활성 단체</div>
			<div class="org-row">
				<div class="org-card" th:each="org : ${organizations}" th:if="${org.openStatus == 'Y'}">
					<!-- 아이콘 액션 영역 -->
					<div class="icon-actions">
						<!-- 상태 변경 -->
						<form th:action="@{/admin/organization/updateCode/{orgId}(orgId=${org.id})}" method="post">
							<input type="hidden" name="statusCode" th:value="${org.openStatus}" />
							<button type="submit" class="icon-button" title="상태 변경">🔄</button>
						</form>

						<!-- 수정 -->
						<a th:href="@{/admin/organization/update/{orgId}(orgId=${org.id})}" class="icon-button"
							title="수정">✏️</a>

						<!-- 삭제 -->
						<form th:action="@{/admin/organization/delete/{orgId}(orgId=${org.id})}" method="post"
							onsubmit="return confirm('정말 삭제하시겠습니까?');">
							<button type="submit" class="icon-button delete" title="삭제">🗑️</button>
						</form>
					</div>

					<!-- 이미지와 정보 -->
					<img th:if="${org.profileSrc != null}" th:src="@{${org.profileSrc}}" alt="프로필 이미지" />
					<h2 th:text="${org.name}">조직 이름</h2>
					<p th:text="${org.introduce}">조직 소개</p>
				</div>
			</div>
		</div>

		<!-- 비활성 단체 -->
		<div class="section">
			<div class="title">비활성 단체</div>
			<div class="org-row">
				<div class="org-card" th:each="org : ${organizations}" th:if="${org.openStatus == 'N'}">
					<!-- 아이콘 액션 영역 -->
					<div class="icon-actions">
						<!-- 상태 변경 -->
						<form th:action="@{/admin/organization/updateCode/{orgId}(orgId=${org.id})}" method="post">
							<input type="hidden" name="statusCode" th:value="${org.openStatus}" />
							<button type="submit" class="icon-button" title="상태 변경">🔄</button>
						</form>

						<!-- 수정 -->
						<a th:href="@{/admin/organization/update/{orgId}(orgId=${org.id})}" class="icon-button"
							title="수정">✏️</a>

						<!-- 삭제 -->
						<form th:action="@{/admin/organization/delete/{orgId}(orgId=${org.id})}" method="post"
							onsubmit="return confirm('정말 삭제하시겠습니까?');">
							<button type="submit" class="icon-button delete" title="삭제">🗑️</button>
						</form>
					</div>

					<!-- 이미지와 정보 -->
					<img th:if="${org.profileSrc != null}" th:src="@{${org.profileSrc}}" alt="프로필 이미지" />
					<h2 th:text="${org.name}">조직 이름</h2>
					<p th:text="${org.introduce}">조직 소개</p>
				</div>
			</div>
		</div>

		<script th:src="@{/js/header.js}"></script>
	</div>
</body>

</html>