<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Footer Fragment</title>
</head>
<body>

    <th:block th:fragment="footer">
      <footer style="width: 100%;">
        <div class="footer-container">
          <div class="footer-left">
            <ul>
              <li><a href="http://agnus.or.kr/home/" target="_blank">청소년국</a></li>
              <li><a href="http://www.agnusbible.or.kr/" target="_blank">청년성서</a></li>
              <li><a href="https://www.djcatholic.or.kr/home/" target="_blank">대전교구</a></li>
            </ul>
          </div>
          <div class="footer-center">
            <p>(31174) 충남 천안시 서북구 월봉5길 23</p>
            <p>Tel. 041-572-7179 | Fax. 041-572-7180</p>
            <p>E-mail. hapum7179@gmail.com</p>
          </div>
          <div class="footer-right">
            <a href="https://www.instagram.com/hapum_center/" target="_blank">
              <img src="/img/insta_logo.png" alt="Instagram" />
              <div>하품센터</div>
            </a>
          </div>
        </div>
      </footer>
    </th:block>

</body>
</html>