<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logohp.png">

    <!-- 공통 CSS (모바일/데스크탑 분기 포함) -->
    <link rel="stylesheet" th:href="@{/css/header.css}" media="only screen and (min-width: 769px)" />
    <link rel="stylesheet" th:href="@{/css/main/mobile/header.css}" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- 페이지별 헤더 영역 (Title, Metadata, Specific CSS) -->
    <th:block layout:fragment="head-content"></th:block>

    <!-- 공통 JS -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/header.js}"></script>
</head>
<body>
    <!-- 헤더 프래그먼트 호출 -->
    <div th:replace="~{main/header :: headFrag(${user})}"></div>

    <!-- 실제 콘텐츠가 들어갈 자리 -->
    <main layout:fragment="content"></main>

    <!-- 푸터 프래그먼트 호출 -->
    <div th:replace="~{main/footer :: footer}"></div>

    <!-- 페이지별 스크립트 영역 -->
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>