<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title th:text="${organizationPost.title} + ' | 단체 소식'">소식 상세</title>

  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/main/organizationView.css}"/>
  <link rel="stylesheet" th:href="@{/css/footer.css}"/>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <style>
		.post-content {
			overflow: auto;
		}

		.content {
			width: 80%;
			max-width: 100vw;
		}
  </style>
</head>
<body>
  <!-- 헤더 -->
  <div th:replace="~{main/header :: headFrag(${user})}"></div>

  <div class="container">
    <!-- 사이드바 -->
    <div class="sidebar">
      <div class="sidebar-title" >단체소식</div>
      <button th:each="org : ${organizationList}"
              class="menu-button"
              th:classappend="${org.id == id} ? ' active' : ''"
              th:text="${org.name}"
              th:onclick="'location.href=\'/main/organization/'+${org.id}+'\''">
      </button>
        <button class="menu-button" onclick="history.back();">
         목록으로 돌아가기
        </button>
    </div>

    <!-- 콘텐츠 -->
    <div class="content">
      <div class="post-view">
        <!-- 제목 -->
        <h2 class="post-view-title"
            th:text="${organizationPost.title}">제목</h2>

        <!-- 작성일 -->
        <p class="post-view-date"
           th:text="${#temporals.format(organizationPost.createdAt, 'yyyy-MM-dd HH:mm')}">
          2025-06-15 14:30
        </p>

        <!-- 썸네일 -->
        <img class="post-view-thumb"
             th:if="${organizationPost.thumbnailSrc != null}"
             th:src="@{${organizationPost.thumbnailSrc}}"
             alt="썸네일"/>

        <!-- 본문 (HTML 렌더링) -->
        <div class="post-view-body"
             th:utext="${organizationPost.content}">
          소식 본문 내용...
        </div>

        <!-- 목록으로 돌아가기 -->
      
      </div>
    </div>
  </div>

  <!-- 푸터 -->
  <div th:replace="~{main/footer :: footer}"></div>
  <script th:src="@{/js/header.js}"></script>
</body>
</html>
