<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>하품센터-프로그램</title>
	<link rel="stylesheet" th:href="@{/css/header.css}" media="only screen and (min-width: 769px)" />
	<link rel="stylesheet" th:href="@{/css/main/mobile/header.css}" media="only screen and (max-width: 768px)" />

	<link rel="stylesheet" th:href="@{/css/footer.css}">

	<link rel="stylesheet" th:href="@{/css/main/program.css}" media="only screen and (min-width: 769px)">
	<link rel="stylesheet" th:href="@{/css/main/mobile/program.css}" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<style>

	</style>
</head>

<body>
	<div th:replace="~{main/header :: headFrag(${user})}"></div>

	<div class="container">
		<!-- 좌측 사이드바 -->
		<div class="sidebar">
			<div class="sidebar-title" onclick="location.href='/main/program'">프로그램</div>
			<div class="menu-group">
				<button th:each="programAdd : ${programAdds}" th:text="${programAdd.name}"
					th:onclick="|location.href='/main/programList/${programAdd.id}'|" class="menu-button"
					th:classappend="${activeTab == programAdd.id} ? ' active' : ''">
				</button>
			</div>
		</div>

		<!-- 오른쪽 콘텐츠 영역 -->
		<div class="content">

			<div class="program-intro">
				<img class="pi-img" th:src="@{${pa.thumbnailSrc}}">
				<div class="pi-ex" th:utext="${pa.content}"></div>

			</div>
			<hr>
<!--th:if="${program.openStatus == 'Y'}"-->
			<div class="program-list">
				<a th:each="program : ${programs}" 
					th:href="@{/main/program/detail/{id}(id=${program.id})}" class="program-card">
							<th:block th:if="${program.openStatus == 'N'}">
								<div class="badge-ended">종료</div>
							</th:block>
					<img th:src="@{${program.thumbnailSrc}}" alt="썸네일 이미지" />
					<div class="program-title" th:text="${program.title}"></div>
				</a>
			</div>
		</div>
	</div>

	<div th:replace="~{main/footer :: footer}"></div>
	<script th:src="@{/js/header.js}"></script>
</body>

</html>