<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="/img/logohp.png">
  <title>비밀번호 수정</title>
  <link rel="stylesheet" th:href="@{/css/header.css}" media="only screen and (min-width: 769px)" />
	<link rel="stylesheet" th:href="@{/css/main/mobile/header.css}" media="only screen and (max-width: 768px)" />

  <link rel="stylesheet" th:href="@{/css/footer.css}" />
  
  <link rel="stylesheet" th:href="@{/css/mypage/updatePw.css}" media="only screen and (min-width: 769px)">
	<link rel="stylesheet" th:href="@{/css/main/mobile/updatePw.css}" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

  

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <!-- 공통 헤더 -->
  <div th:replace="~{main/header :: headFrag(${user})}"></div>

  <div class="container">
    <div class="content">
      <h1>비밀번호 수정</h1>
      <form id="updatePwForm"
            th:action="@{/main/mypage/updatePw}"
            th:object="${updatePwForm}"
            method="post">

        <label for="password">새 비밀번호
          <input type="password" id="password"
                 th:field="*{password}"
                 placeholder="새로운 비밀번호를 입력하세요" required />
        </label>
        <div class="error-msg"
             th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}"></div>

        <label for="passwordCheck">비밀번호 확인
          <input type="password" id="passwordCheck"
                 th:field="*{passwordCheck}"
                 placeholder="비밀번호를 다시 입력하세요" required />
        </label>
        <div class="error-msg"
             th:if="${#fields.hasErrors('passwordCheck')}"
             th:errors="*{passwordCheck}"></div>

        <button class="login-button" type="submit">비밀번호 변경</button>
      </form>
    </div>
  </div>

  <div th:replace="~{main/footer :: footer}"></div>

  <script th:src="@{/js/header.js}"></script>
  <script>
    // 제출 전 확인
    $(function(){
      $('#updatePwForm').on('submit', function(e){
        if(!confirm('비밀번호를 변경하시겠습니까?\n변경 후 로그아웃되며 메인으로 이동합니다.')){
          e.preventDefault();
        }
      });
    });
  </script>
</body>
</html>
