<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/img/logohp.png">
	<title>하품센터-갤러리</title>
	
	<link rel="stylesheet" th:href="@{/css/header.css}" media="only screen and (min-width: 769px)" />
	<link rel="stylesheet" th:href="@{/css/main/mobile/header.css}" media="only screen and (max-width: 768px)" />
	<link rel="stylesheet" th:href="@{/css/main/news.css}" media="only screen and (min-width: 769px)">
	<link rel="stylesheet" th:href="@{/css/main/mobile/news.css}" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
	<div th:replace="~{main/header :: headFrag(${user})}"></div>

	<div class="container">
		<div class="gallery-top-bar">
			<span class="gallery-prefix">GALLERY</span>
			<h2 class="gallery-title">갤러리</h2>
		</div>

		<main class="main-content">
			<div class="news-grid">
				<div class="news-card" th:each="news : ${newsList}">
					<a th:href="@{'/main/news/detail/' + ${news.id}}" class="news-link">
						<div class="thumbnail-wrapper">
							<img th:if="${news.thumbnailSrc != null}" th:src="@{${news.thumbnailSrc}}" alt="썸네일 이미지" />
							<div th:unless="${news.thumbnailSrc != null}" class="no-image-placeholder">
								<i class="fa-regular fa-image"></i>
							</div>
						</div>
						<div class="news-text-box">
							<div class="news-title" th:text="${news.title}">제목</div>
						</div>
					</a>
				</div>
			</div>

			<div class="pagination-wrapper" th:if="${totalPages > 1}" th:with="blockSize=5,
                    cp=${currentPage},
                    tp=${totalPages},
                    sp=${((cp - 1) / blockSize) * blockSize + 1},
                    ep=${ (sp + blockSize - 1) <= tp ? (sp + blockSize - 1) : tp },
                    baseUrl='/main/news'">
				<ul class="pagination">
					<li class="page-item" th:classappend="${sp == 1} ? 'disabled'">
						<a class="page-link" th:href="@{${baseUrl}(page=${sp == 1 ? 1 : sp - blockSize})}">
							<i class="fa-solid fa-angles-left"></i>
						</a>
					</li>
					<li class="page-item" th:classappend="${cp == 1} ? 'disabled'">
						<a class="page-link" th:href="@{${baseUrl}(page=${cp == 1 ? 1 : cp - 1})}">
							<i class="fa-solid fa-angle-left"></i>
						</a>
					</li>
					<li class="page-item" th:each="pageNum : ${#numbers.sequence(sp, ep)}"
						th:classappend="${pageNum == cp} ? 'active'">
						<a class="page-link" th:href="@{${baseUrl}(page=${pageNum})}" th:text="${pageNum}">1</a>
					</li>
					<li class="page-item" th:classappend="${cp == tp} ? 'disabled'">
						<a class="page-link" th:href="@{${baseUrl}(page=${cp == tp ? tp : cp + 1})}">
							<i class="fa-solid fa-angle-right"></i>
						</a>
					</li>
					<li class="page-item" th:classappend="${ep == tp} ? 'disabled'">
						<a class="page-link" th:href="@{${baseUrl}(page=${ep == tp ? tp : ep + blockSize})}">
							<i class="fa-solid fa-angles-right"></i>
						</a>
					</li>
				</ul>
			</div>
		</main>
	</div>

	<div th:replace="~{main/footer :: footer}"></div>
	<script th:src="@{/js/header.js}"></script>
</body>
</html>