<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/logohp.png">
	<title>하품센터-갤러리</title>

	<link rel="stylesheet" th:href="@{/css/header.css}"  />
<!--	<link rel="stylesheet" th:href="@{/css/main/mobile/header.css}" media="only screen and (max-width: 768px)" />-->

	<link rel="stylesheet" th:href="@{/css/main/postDetail.css}" >
<!--	<link rel="stylesheet" th:href="@{/css/main/mobile/postDetail.css}" media="only screen and (max-width: 768px)">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
	
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
	<div th:replace="~{main/header :: headFrag(${user})}"></div>
	
	<div class="fixed-header-wrapper">
		<div class="fixed-header-inner">
			<div class="info-top-bar">
				<span class="info-prefix">GALLERY</span>
				<h2 class="info-title" onclick="location.href='/main/gallery'">갤러리</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="sidebar">
			<button class="menu-button" onclick="history.back();">목록으로 돌아가기</button>
		</div>

		<div class="content">
			<h2 class="post-title" th:text="${news.title}">게시글 제목</h2>
			
			<div class="post-meta">
				<span>작성일: <span th:text="${#temporals.format(news.createOn, 'yyyy-MM-dd HH:mm')}"></span></span>
				<span th:if="${news.updateOn != null}">
					수정일: <span th:text="${#temporals.format(news.updateOn, 'yyyy-MM-dd HH:mm')}"></span>
				</span>
			</div>
			
			<div th:if="${user != null and user.email == 'admin'}" class="admin-controls">
				<form th:action="@{/admin/news/delete/{id}(id=${news.id})}" method="post"
					onsubmit="return confirm('이 게시글을 삭제하시겠습니까??');" style="display: inline;">
					<input type="hidden" name="code" th:value="${news.openStatus}" />
					<button type="submit" class="admin-btn delete">게시글 삭제</button>
				</form>
				<a th:href="@{/admin/news/updateNews/{id}(id=${news.id})}" title="수정">
					<button type="button" class="admin-btn">수정하기</button>
				</a>
			</div>
			
			<div class="post-content" th:utext="${news.content}">
				</div>
		</div>
	</div>
	
	<div th:replace="~{main/footer :: footer}"></div>
	<script th:src="@{/js/header.js}"></script>
</body>

</html>