<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<style>
		h1{color:red}
	</style>
</head>

<body>
	<h1>THIS</h1>
	<h1>ACCESS</h1>
	<h1>DENIED</h1>

	
	<script th:src="@{/js/header.js}"></script>
</body>
</html>
