<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hapum.hapum.mapper.FixedReservationMapper">

	<select id="selectAllFixedReservations"
		resultType="hapum.hapum.domain.FixedReservation">
		SELECT * FROM hapumdb.fixed_reservation
	</select>

	<select id="selectBlockedDays" resultType="hapum.hapum.domain.BlockedDay">
		SELECT * FROM hapumdb.blocked_day
	</select>

	<select id="selectRentals" resultType="hapum.hapum.domain.Rental">
		SELECT * FROM hapumdb.rental_reservation
	</select>

	<insert id="insertFixedReservation"
		parameterType="hapum.hapum.domain.FixedReservation">
		INSERT INTO hapumdb.fixed_reservation
		(type, weekday, week_of_month, day_of_week, start_time, end_time,
		description)
		VALUES
		(#{type}, #{weekday}, #{weekOfMonth}, #{dayOfWeek}, #{startTime},
		#{endTime}, #{description})
	</insert>

	<update id="updateFixedReservation"
		parameterType="hapum.hapum.domain.FixedReservation">
		UPDATE hapumdb.fixed_reservation
		SET type = #{type},
		weekday = #{weekday},
		week_of_month = #{weekOfMonth},
		day_of_week = #{dayOfWeek},
		start_time = #{startTime},
		end_time = #{endTime},
		description = #{description}
		WHERE id = #{id}
	</update>

	<delete id="deleteFixedReservation">
		DELETE FROM hapumdb.fixed_reservation
		WHERE id=#{id}
	</delete>


	<insert id="insertBlockedDay" parameterType="hapum.hapum.domain.BlockedDay">
		INSERT INTO hapumdb.blocked_day
		(week_of_month, day_of_week, reason)
		VALUES
		(#{weekOfMonth}, #{dayOfWeek}, #{reason})
	</insert>
	<update id="updateBlockedDay" parameterType="hapum.hapum.domain.BlockedDay">
		UPDATE hapumdb.blocked_day
		SET week_of_month = #{weekOfMonth},
		day_of_week = #{dayOfWeek},
		reason = #{reason}
		WHERE id = #{id}
	</update>
	<delete id="deleteBlockedDay">
		DELETE FROM hapumdb.blocked_day
		WHERE id=#{id}
	</delete>

	<select id="selectByUserId" resultType="hapum.hapum.domain.Rental">
		SELECT * FROM hapumdb.rental_reservation WHERE user_id = #{userId} ORDER
		BY created_on;
	</select>


	<insert id="insertRental" parameterType="hapum.hapum.domain.Rental" useGeneratedKeys="true" keyProperty="id"> 
		INSERT INTO
		hapumdb.rental_reservation ( 
			location, 
			reservation_date, 
			start_time,
			end_time, 
			price, 
			user_id, 
			is_app, 
			purpose, 
			group_name,
			equipment,
			head_count 
		) VALUES (
		#{location}, #{reservationDate}, #{startTime}, #{endTime}, #{price}, #{userId}, 
		<choose>
			<when test="isApp != null">
				#{isApp}
			</when>
			<otherwise>
				0
			</otherwise>
		</choose> 
		,#{purpose}, #{groupName}, #{equipment}, #{headCount}) </insert>


	<delete id="deleteRental">
		DELETE FROM hapumdb.rental_reservation
		WHERE id=#{id}
	</delete>

	<select id="selectAllRentals" resultType="hapum.hapum.domain.Rental">
		select * from hapumdb.rental_reservation
	</select>

	<update id="approve">
		UPDATE hapumdb.rental_reservation SET is_app = '1'
		WHERE id=#{id}
	</update>

	<delete id="delete">
		DELETE FROM hapumdb.rental_reservation
		WHERE id=#{id}
	</delete>


	<update id="disapprove">
		UPDATE hapumdb.rental_reservation SET is_app = '0'
		WHERE id=#{id}
	</update>
	
	
	
	
	<resultMap id="RentalWithUserMap" type="hapum.hapum.domain.RentalWithUser">
    <!-- Rental 필드 매핑 -->
    <id     property="id"               column="r_id"/>
    <result property="location"         column="location"/>
    <result property="reservationDate"  column="reservation_date"/>
    <result property="startTime"        column="start_time"/>
    <result property="endTime"          column="end_time"/>
    <result property="price"            column="price"/>
    <result property="userId"           column="user_id"/>
    <result property="createdOn"        column="created_on"/>
    <result property="isApp"            column="is_app"/>
    <result property="purpose"          column="purpose"/>
    <result property="groupName"        column="group_name"/>
    <result property="equipment"        column="equipment"/>
    <result property="headCount"        column="head_count"/>

    <!-- User 필드 매핑 -->
    <result property="email"            column="u_email"/>
    <result property="name"             column="u_name"/>
    <result property="birth"            column="u_birth"/>
    <result property="phone"            column="u_phone"/>
    <result property="cathedral"        column="u_cathedral"/>
    <result property="baptismName"      column="u_baptism_name"/>
    <result property="statusCode"       column="u_status_code"/>
  </resultMap>

  <!-- select 쿼리 -->
  <select id="selectByDateRange"
          resultMap="RentalWithUserMap"
          parameterType="map">
    SELECT
      rr.id               AS r_id,
      rr.location         AS location,
      rr.reservation_date AS reservation_date,
      rr.start_time       AS start_time,
      rr.end_time         AS end_time,
      rr.price            AS price,
      rr.user_id          AS user_id,
      rr.created_on       AS created_on,
      rr.is_app           AS is_app,
      rr.purpose          AS purpose,
      rr.group_name       AS group_name,
      rr.equipment       AS equipment,
      rr.head_count       AS head_count,

      u.email             AS u_email,
      u.name              AS u_name,
      u.birth             AS u_birth,
      u.phone             AS u_phone,
      u.cathedral         AS u_cathedral,
      u.baptism_name       AS u_baptism_name,
      u.statusCode       AS u_status_code

    FROM hapumdb.rental_reservation rr
    JOIN hapumdb.user u
      ON rr.user_id = u.id
    WHERE rr.reservation_date BETWEEN #{start} AND #{end}
    ORDER BY rr.reservation_date, rr.start_time
  </select>
</mapper>
	
