<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hapum.hapum.mapper.NewsMapper">

	<!-- 1) insertNews -->
	<insert id="insertNews" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO hapumdb.news (title, content, thumbnailSrc, open_status)
		VALUES (#{title}, #{content}, #{thumbnailSrc}, 'Y')
	</insert>

	<select id="selectAllNews" resultType="hapum.hapum.domain.News">
		SELECT * FROM hapumdb.news
		WHERE open_status = 'Y'
		ORDER BY update_on DESC
		LIMIT #{limit} OFFSET #{offset}

	</select>


	<select id="countNews" resultType="int">
		SELECT COUNT(*) FROM hapumdb.news WHERE open_status='Y'
	</select>

	<select id="selectById" resultType="hapum.hapum.domain.News">
		SELECT * FROM hapumdb.news WHERE id=#{id}
	</select>


	<delete id="deleteNews">
		DELETE FROM hapumdb.news WHERE id=#{newsId}
	</delete>

	<update id="updateNewsDetail" parameterType="hapum.hapum.domain.News">
		UPDATE hapumdb.news
		SET
		title = #{title},
		content = #{content},
		thumbnailSrc = #{thumbnailSrc},
		update_on = NOW(),
		open_status = #{openStatus}
		WHERE id = #{id}
	</update>


</mapper>
