<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hapum.hapum.mapper.ProgramMapper">


	<insert id="insertProgram" parameterType="hapum.hapum.domain.Program"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO hapumdb_test.program (
		title,
		content,
		start_date,
		end_date,
		location,
		target,
		capacity,
		thumbnail_src,
		create_on,
		update_on,
		expense,
		subject,
		open_status,
		add_id,
		need_org_name,
		need_part_count,
		need_relation,

		need_capacity,
		need_reason,
		need_opinion,
		need_join,
		date_string,
		is_date_string

		) VALUES (
		#{title},
		#{content},
		#{startDate},
		#{endDate},
		#{location},
		#{target},
		#{capacity},
		#{thumbnailSrc},
		NOW(),
		NOW(),
		#{expense},
		#{subject},
		'Y',
		#{addId},
		#{needOrgName},
		#{needPartCount},
		#{needRelation},
		#{needCapacity},
		#{needReason},
		#{needOpinion},
		#{needJoin},
		#{dateString},
		#{isDateString}
		
		)
	</insert>


	<select id="selectAllPrograms" resultType="hapum.hapum.domain.Program">
		SELECT * FROM hapumdb_test.program
		ORDER BY id DESC
	</select>


	<select id="selectAllProgramsMain"
		resultType="hapum.hapum.domain.ProgramAdd">
		SELECT * FROM hapumdb_test.program_add WHERE open_status='Y'
	</select>


	<select id="selectAllProgramsByOpenStatus"
		resultType="hapum.hapum.domain.Program">
		SELECT * FROM hapumdb_test.program WHERE open_status='Y'
	</select>


	<select id="selectProgramById" resultType="hapum.hapum.domain.Program">
		SELECT * FROM hapumdb_test.program WHERE id = #{id}
	</select>
	<!-- 신청자 수-->
	<select id="getApplyCount" resultType="Integer">
		SELECT SUM(part_count) FROM hapumdb_test.program_subs WHERE
		program_id
		=#{programId}
	</select>

	<insert id="programSub" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO hapumdb_test.program_subs (user_id, program_id, subs_on,
		is_app,
		part_count, relation, org_name, reason, opinion)
		VALUES (#{userId}, #{programId}, NOW(), 'N', #{partCount}, #{relation},
		#{orgName},#{reason}, #{opinion})
	</insert>

	<select id="selectPrograSubmById" resultType="hapum.hapum.domain.ProgramSub">
		SELECT * FROM hapumdb_test.program_subs WHERE program_id =
		#{programId}
	</select>


	<resultMap id="ProgramSubWithUserMap" type="hapum.hapum.domain.ProgramSub">
		<id property="id" column="program_sub_id" />
		<result property="programId" column="program_id" />
		<result property="userId" column="user_id" />
		<result property="isApp" column="is_app" />

		<association property="user" javaType="hapum.hapum.domain.User">
			<id property="id" column="user_id" />
			<result property="name" column="name" />
			<result property="email" column="email" />
			<result property="phone" column="phone" />
			<!-- 필요한 필드 추가 -->
		</association>
	</resultMap>

	<select id="selectByProgramIdWithUser" resultMap="ProgramSubWithUserMap">
		SELECT
		ps.id AS program_sub_id,
		ps.program_id,
		ps.user_id,
		ps.is_app,
		u.id AS user_id,
		u.name,
		u.phone,
		u.email
		FROM hapumdb_test.program_subs ps
		JOIN hapumdb_test.user u ON ps.user_id = u.id
		WHERE ps.program_id = #{programId}
	</select>

	<update id="approve">
		UPDATE hapumdb_test.program_subs
		SET is_app = 'Y'
		WHERE id=#{psId}
	</update>

	<update id="cancel">
		UPDATE hapumdb_test.program_subs
		SET is_app = 'N'
		WHERE id=#{psId}
	</update>
	
	
		<update id="approve2">
		UPDATE hapumdb_test.program_subs_no_join
		SET is_app = 'Y'
		WHERE id=#{psId}
	</update>

	<update id="cancel2">
		UPDATE hapumdb_test.program_subs_no_join
		SET is_app = 'N'
		WHERE id=#{psId}
	</update>


	<resultMap id="ProgramWithSubResultMap"
		type="hapum.hapum.domain.ProgramWithSub">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="subject" column="subject" />
		<result property="startDate" column="startDate" />
		<result property="endDate" column="endDate" />
		<result property="location" column="location" />
		<result property="target" column="target" />
		<result property="capacity" column="capacity" />
		<result property="expense" column="expense" />
		<result property="thumbnailSrc" column="thumbnailSrc" />
		<result property="createOn" column="createOn" />
		<result property="updateOn" column="updateOn" />
		<result property="subsId" column="subsId" />
		<result property="isApp" column="isApp" />
		<result property="subsOn" column="subsOn" />
	</resultMap>

	<select id="selectProgramsWithSubByUserId" parameterType="java.lang.Long"
		resultMap="ProgramWithSubResultMap">
		SELECT
		p.id,
		p.title,
		p.content,
		p.subject,
		p.start_date AS startDate,
		p.end_date AS endDate,
		p.location,
		p.target,
		p.capacity,
		p.expense,
		p.thumbnail_src AS thumbnailSrc,
		p.create_on AS createOn,
		p.update_on AS updateOn,
		ps.id AS subsId,
		ps.subs_on AS subsOn,
		ps.is_app AS isApp
		FROM hapumdb_test.program p
		INNER JOIN hapumdb_test.program_subs ps ON p.id = ps.program_id
		WHERE ps.user_id = #{userId}
	</select>

	<delete id="deleteByProgramSubsId">
		DELETE FROM hapumdb_test.program_subs WHERE id=#{id}
	</delete>


	<update id="updateCode">
		UPDATE hapumdb_test.program SET open_status=#{code} where
		id=#{programId}
	</update>


	<insert id="insertProgramAdd" parameterType="hapum.hapum.domain.ProgramAdd">
		INSERT INTO hapumdb_test.program_add
		(name, content, thumbnail_src ) VALUES
		(#{name}, #{content}, #{thumbnailSrc})
	</insert>

	<select id="selectAllProgramAdd">
		SELECT * FROM hapumdb_test.program_add
	</select>

	<select id="selectProgramByAddId">
		select * from hapumdb_test.program where add_id =#{id} order by
		open_status
		desc, start_date
	</select>

	<select id="selectThisMonthProgram" resultType="hapum.hapum.domain.Program">
		SELECT * FROM hapumdb_test.program
		WHERE start_date BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 30
		DAY)

	</select>
	<select id="selectProgramsByDateRange" parameterType="map"
		resultType="hapum.hapum.domain.Program">
		SELECT *
		FROM hapumdb_test.program
		WHERE start_date BETWEEN #{start} AND #{end}
		ORDER BY start_date
	</select>


	<update id="updateProgramAddStatus">
		UPDATE hapumdb_test.program_add SET
		open_status=#{code}
		WHERE id=#{addId}
	</update>


	<update id="updateProgram" parameterType="hapum.hapum.domain.Program">
		UPDATE hapumdb_test.program
		SET
		add_id = #{addId},
		title = #{title},
		content = #{content},
		subject = #{subject},
		start_date = #{startDate},
		end_date = #{endDate},
		location = #{location},
		target = #{target},
		capacity = #{capacity},
		expense = #{expense},
		thumbnail_src = #{thumbnailSrc},
		update_on = NOW(),
		need_org_name = #{needOrgName},
		need_part_count = #{needPartCount},
		need_relation = #{needRelation}
		WHERE id = #{id}
	</update>

	<select id="selectProgramAddById" resultType="hapum.hapum.domain.ProgramAdd">
		SELECT * FROM hapumdb_test.program_add WHERE id=#{addId}
	</select>

	<update id="updateProgramAdd" parameterType="hapum.hapum.domain.ProgramAdd">
		UPDATE hapumdb_test.program_add
		SET
		name = #{name},
		content = #{content},
		thumbnail_src = #{thumbnailSrc},
		open_status = #{openStatus}
		WHERE id = #{id}
	</update>

	<delete id="deleteProgramSubs">
		DELETE from hapumdb_test.program_subs WHERE id=#{id}
	</delete>

	<delete id="deleteProgram">
		DELETE from hapumdb_test.program WHERE id=#{id}
	</delete>

	<delete id="deleteProgramAdd">
		DELETE from hapumdb_test.program_add WHERE id=#{id}
	</delete>

	<update id="changePopup">
		UPDATE hapumdb_test.program SET is_popup=#{code}
		WHERE id=#{id}
	</update>

	<update id="changeImageSlide">
		UPDATE hapumdb_test.program SET is_image_Slide=#{code}
		WHERE id=#{id}
	</update>
	<select id="selectPopupProgram" resultType="hapum.hapum.domain.Program">
		SELECT * FROM hapumdb_test.program WHERE is_popup='Y'
	</select>

	<select id="selectHomeProgram" resultType="hapum.hapum.domain.Program">
		SELECT * FROM hapumdb_test.program WHERE is_image_slide='Y'


	</select>

	<delete id="deleteByUserId">
		DELETE FROM hapumdb_test.program_subs WHERE id=#{id}
	</delete>

	<select id="selectFutureProgramSubs" resultType="map">
    SELECT
        ps.id AS subs_id,
        COALESCE(ps.user_id, '-')        AS user_id,
        COALESCE(u.name, '-')            AS user_name,
        ps.program_id,
        ps.subs_on,
        ps.is_app,
        COALESCE(ps.part_count, '-')     AS part_count,
        COALESCE(ps.relation, '-')       AS relation,
        COALESCE(ps.org_name, '-')       AS org_name,
        COALESCE(ps.reason, '-')         AS reason,
        COALESCE(ps.opinion, '-')        AS opinion,
        p.title,
        p.start_date,
        p.end_date,
        p.location,
        p.target
    FROM hapumdb_test.program_subs ps
    JOIN hapumdb_test.program p
      ON ps.program_id = p.id
    JOIN hapumdb_test.user u
      ON ps.user_id = u.id
    WHERE p.start_date > NOW()
    ORDER BY p.start_date ASC, ps.subs_on ASC
</select>

	<insert id="insertProgramSubWithAdmin"
		parameterType="hapum.hapum.domain.ProgramSub">
		INSERT INTO hapumdb_test.program_subs (user_id, program_id, subs_on,
		is_app,
		part_count, relation, org_name, reason, opinion)
		VALUES (#{userId}, #{programId}, NOW(), 'N', #{partCount}, #{relation},
		#{orgName},#{reason}, #{opinion})

	</insert>

	<insert id="programSubWithNoJoin"
		parameterType="hapum.hapum.domain.ProgramSub">
		INSERT INTO hapumdb_test.program_subs_no_join
		(
		program_id,
		subs_on,
		is_app,
		part_count,
		relation,
		org_name,
		reason,
		opinion,
		name,
		baptism_name,
		phone,
		parish
		)
		VALUES
		(
		#{programId},
		NOW(),
		'N',
		#{partCount},
		#{relation},
		#{orgName},
		#{reason},
		#{opinion},
		#{name},
		#{baptismName},
		#{phone},
		#{parish}
		);

	</insert>
	
	
	<select id="getApplyCountNoJoin" resultType="Integer">
		SELECT SUM(part_count) FROM hapumdb_test.program_subs_no_join WHERE
		program_id
		=#{programId}
	</select>
	
	<select id="selectFutureProgramSubsNoJoin" resultType="map">
    SELECT
        psnj.id AS subs_id,
        '-' AS user_id,  -- no_join 테이블에는 user_id 없음
        psnj.program_id,
        psnj.subs_on,
        psnj.is_app,
        COALESCE(psnj.part_count, '-')   AS part_count,
        COALESCE(psnj.relation, '-')     AS relation,
        COALESCE(psnj.org_name, '-')     AS org_name,
        COALESCE(psnj.reason, '-')       AS reason,
        COALESCE(psnj.opinion, '-')      AS opinion,
        COALESCE(psnj.name, '-')         AS user_name,
        COALESCE(psnj.phone, '-')         AS phone,
        COALESCE(psnj.baptism_name, '-') AS baptism_name,
        COALESCE(psnj.parish, '-')       AS parish,
        COALESCE(psnj.phone, '-')        AS phone,
        p.title,
        p.start_date,
        p.end_date,
        p.location,
        p.target
    FROM hapumdb_test.program_subs_no_join psnj
    JOIN hapumdb_test.program p
      ON psnj.program_id = p.id
    WHERE p.start_date > NOW()
    ORDER BY p.start_date ASC, psnj.subs_on ASC
</select>


</mapper>